
button
  border-radius 5%
  background none
  color white
  padding 10px
  margin 10px

  span
    margin-right 5px

  &:hover
    color black
    background white
    opacity 0.5

  .btn-large
    font-size 30px

  .btn-outline
    border 1px solid white
