
.fixtures-toolbar
  width 100%
  margin-top 20px
  align-self flex-start
  display flex
  flex row


.fixtures-container
  display flex
  flex row
  align-self flex-start
  justify-content center
  background red
  width 100%
  margin 20px
  height 100%
  clear both

.fixtures-control
  width: 10%
  display flex
  flex row
  margin-top 30px
  justify-content center

  button
    padding 10px

  &.left
    float left
  &.right
    float right
