.fixtures-control
  width: 10%
  display flex
  flex-direction row
  justify-content center

  button
    padding 10px

  &.left
    float left
  &.right
    float right

.fixtures-container
  align-self flex-start
  display flex
  width 80%
  flex-wrap wrap
  justify-content center

  .fixtures-toolbar
    width 100%
    margin-top 20px
    align-self flex-start
    display flex
    justify-content center
    flex row

    button
      margin 10px

  .fixture-form
    // border 1px dashed white
    width 80%
    display flex
    flex-direction column
    align-items center
    padding-top 30px
    padding-bottom 30px

    button, input, label
      margin 10px

    input
      padding: 20px
      font-size: 20px
      min-width: 300px
      text-align: center
      background: none
      color: white
      border: 1px dashed white
