.pick-squad
  display grid
  grid-template-columns 2
  margin auto
  min-width 350px
  max-width 600px

.player-names
  grid-column-start 1
  grid-column-end 2


.player-emails
  grid-column-start 2
  grid-column-end 3
  border-radius 5px
  padding 10px

.squad-header
  text-align center
  margin auto

.onboarding-button
  padding 10px
  border-radius 5px
