.pick-squad
  display grid
  grid-template-columns 2
  margin auto
  min-width 320px
  width 47vw
  font-family 'Comfortaa', cursive

.uploader
  display flex
  justify-content center
  flex-direction column
  height 100vh
  line-height 100px
  label
    font-size 1.4em
    span
      color red

.uploader-title, .uploader-content, .uploader-next
  margin auto

.player-names
  grid-column-start 1
  grid-column-end 2
  input
    width 20vw
    min-width 120px
    padding 10px
    margin 5px
    font-family 'Comfortaa', cursive

.player-emails
  grid-column-start 2
  grid-column-end 3
  input
    width 20vw
    min-width 120px
    padding 10px
    margin 5px
    font-family 'Comfortaa', cursive

.squad-header
  text-align center
  margin auto

.confirmation-buttons
  margin auto
  display flex
  flex-direction column
  min-width 320px
  width 50vw
  input
    padding 10px
    margin 10px
    border-radius 5px
    font-family: 'Comfortaa', cursive;

.confirmation
  text-align center
