.onboarding-container
  display flex
  justify-content center
  flex-direction column
  height 100vh
  overflow scroll

.onboarding-item
  text-align center
  line-height 50px
  span
    color red

.onboarding-input
  border-radius 5%
  background none
  color white
  padding 10px
  margin 10px
  font-size 1.2em

.badge-uploader
  display flex
  flex-direction column
  margin 30px auto 30px auto
  *
    text-align center
  img
    max-width 200px
    margin 20px auto 20px auto

.confirmation-buttons
  margin auto
  display flex
  flex-direction column
  min-width 320px
  width 50vw
  input
    padding 10px
    margin 10px
    border-radius 5px
    font-family: 'Comfortaa', cursive;

.confirmation
  text-align center
