.order-enter {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  max-height: 0;
  padding: 0 !important;
}
.order-enter.order-enter-active {
  max-height: 60px;
  padding: 2rem 0 !important;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.order-leave {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.order-leave.order-leave-active {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  max-height: 0;
  padding: 0;
}
.count-enter {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.count-enter.count-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.count-leave {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.count-leave.count-leave-active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
button {
  border-radius: 5%;
  background: none;
  color: #fff;
  padding: 10px;
  margin: 10px;
}
button span {
  margin-right: 5px;
}
button:hover {
  color: #000;
  background: #fff;
  opacity: 0.5;
}
button .btn-large {
  font-size: 30px;
}
button .btn-outline {
  border: 1px solid #fff;
}
.react-datepicker {
  font-size: 1em !important;
}
.react-datepicker__header {
  padding-top: 0.8em !important;
}
.react-datepicker__month {
  margin: 0.4em 1em !important;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em !important;
  line-height: 1.9em !important;
  margin: 0.166em !important;
}
.react-datepicker__current-month {
  font-size: 1em !important;
}
.react-datepicker__navigation {
  top: 1em !important;
  line-height: 1.7em !important;
  border: 0.45em solid transparent !important;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc !important;
  left: 1em !important;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc !important;
  right: 1em !important;
}
.react-datepicker-time__header {
  font-size: 0.944em !important;
}
.react-datepicker__navigation--next--with-time {
  right: 185px !important;
}
.react-datepicker__time-container {
  width: 160px !important;
}
.react-datepicker__time-list-item {
  width: 100px !important;
}
.react-datepicker__time-box {
  width: 128px !important;
}
.loading-screen {
  text-align: center;
}
.nav-bar {
  background-color: #040404;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10vw;
  min-width: 95px;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
.nav-team-logo {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
.team-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
.player-card {
  width: 200px;
  height: 300px;
  margin: 10px;
  -webkit-perspective: 300px;
          perspective: 300px;
  opacity: 0.8;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.1);
          box-shadow: 0 0 15px rgba(0,0,0,0.1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.player-card:hover .content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  padding-top: 5px;
  color: #03446a;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.back {
  background: #040404;
  color: #fff;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.avatar {
  height: 250px;
  border-radius: 5px;
}
.stats {
  font-size: 0.5em;
  height: 200px;
  text-align: left;
  line-height: 50px;
}
.mvp {
  color: #ffd700;
}
.fixtures-control {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fixtures-control button {
  padding: 10px;
}
.fixtures-control.left {
  float: left;
}
.fixtures-control.right {
  float: right;
}
.fixtures-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fixtures-container .fixtures-toolbar {
  width: 100%;
  margin-top: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
}
.fixtures-container .fixtures-toolbar button {
  margin: 10px;
}
.fixtures-container .fixture-form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.fixtures-container .fixture-form button,
.fixtures-container .fixture-form input,
.fixtures-container .fixture-form label {
  margin: 10px;
}
.fixtures-container .fixture-form input {
  padding: 20px;
  font-size: 20px;
  min-width: 300px;
  text-align: center;
  background: none;
  color: #fff;
  border: 1px dashed #fff;
}
.onboarding-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: scroll;
}
.onboarding-item {
  text-align: center;
  line-height: 50px;
}
.onboarding-item span {
  color: #f00;
}
.onboarding-input {
  border-radius: 5%;
  background: none;
  color: #fff;
  padding: 10px;
  margin: 10px;
}
.badge-uploader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px auto 30px auto;
}
.badge-uploader * {
  text-align: center;
}
.badge-uploader img {
  max-width: 200px;
  margin: 20px auto 20px auto;
}
.confirmation-buttons {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  width: 50vw;
}
.confirmation-buttons input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-family: 'Comfortaa', cursive;
}
.confirmation {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  padding: 0;
  margin: 0;
  background: url("http://wallsdesk.com/wp-content/uploads/2016/02/Black-abstract-Background.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Comfortaa', cursive;
}
h1 {
  font-size: 30px;
}
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
a {
  cursor: pointer;
}
ul li {
  list-style: none;
}
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  padding: 0;
  margin: 0;
  background: url("http://wallsdesk.com/wp-content/uploads/2016/02/Black-abstract-Background.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Comfortaa', cursive;
}
h1 {
  font-size: 30px;
}
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
a {
  cursor: pointer;
}
ul li {
  list-style: none;
}
