@require './_*.styl'
@require './*.styl'
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body
  padding 0
  margin 0
  background url('http://wallsdesk.com/wp-content/uploads/2016/02/Black-abstract-Background.jpg') no-repeat
  background-size cover
  color white
  font-family: 'Comfortaa', cursive;

h1
  font-size 100px

.home
  display flex
